.cont-orders{

 
    background-color: grey;;
    height: max-content;
    width: 30vw;
   
    border-radius: 15%;

}

.row-place{

    display: flex;
    align-items: center;
}
.place-order{
    flex:1;
}
.image-place{

    flex:1;
}

.image-place2{
    height: 90vh;
    width: 40vw;
}
.Place-Order-title{

padding: 3%;
text-align: center;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.Place-Order-form{
padding: 5%;

}

.Place-Order-button{
    margin-left: 30%;
    margin-top: 4%;
}
.View-Place{

    margin-top: 3%;
    margin-left: 5%;
    
    
}

@media only screen and (max-width: 480px){

    .cont-orders{
        height: 60vh;
        width: 90vw;
        margin-top: 5%;
        border-radius: 15%;
        font-size: 100%;
        color:black;
    
    }
    .Place-Order-button{
        margin-left: 15%;
        margin-top: 4%;
        font-size: 100%;
    }
    .View-Place{

        margin-top: 10%;
        font-size: 100%;    
        
    }
    .image-place2{
        height: 60vh;
        width: 90vw;
    }
    .row-place{

        display: inline-block;
        align-items: center;
        padding: 3%;
    }
    .place-order{
        flex:1;
    }
    .image-place{
    
        flex:1;
    }
}

/* view_orders css */

.view-orders-title{
    margin-left: 10%;
    margin-top: 5%
}

.view-orders-details{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
