.signup{
    height: 85vh;
    width:30vw;

    background-color: grey;
    border-radius: 20%;
}

.sign-up-title{

    color:black;
    text-align: center;
}


.signup-form{

padding: 5%;
}



@media only screen and (max-width: 480px){

    .signup{
        height: max-content;
        width:85vw;
        padding: 5%;
    
        background-color: grey;
        border-radius: 20%;
        margin-top: 5%;
    }
  
    .signup-main{
        padding: 5%;
    }

}