.signup{
    height: 85vh;
    width:30vw;
    color:black;

    background-color: rgb(136, 146, 146);
   
    border-radius: 10%;
    margin-left: 35%;
    
}
.row-sign{
    display: flex;
    align-items: center;
    
}
.img-sign{

    flex:1;
    margin-left: 20%;
    /* height: 800px;
    width:300px */

   

}



.sign-up-title{

    color:black;
    text-align: center;
}

.signup-img{
    height : 50vh;
    width:30vw;
}

.signup-main{
    flex:1;
    margin-left: -5%;
}

.signup-form{

padding: 5%;
}



@media only screen and (max-width: 480px){

    .signup{
        height: max-content;
        width:85vw;
        padding: 5%;
    
        background-color: grey;
        border-radius: 20%;
        margin-top: 5%;
    }
  
    .signup-main{
        padding: 5%;
    }
    .row-sign{
        display: inline-block;
        align-items: center;
        
    }

    .signup-img{
        height : 40vh;
        width:80vw;
        margin-left: -2%;
    }

    .signup{
        height: 80vh;
        width:90vw;
        color:black;
    
        background-color: rgb(136, 146, 146);
       
        border-radius: 5%;
        margin-left: 2%;
        padding: 3%;
    
        
    }
    
}