.Update-main{
    height: max-content;
    width:30vw;
    color:black;

    background-color: rgb(136, 146, 146);
   
    border-radius: 10%;
    margin-left: 35%;
    flex:1;
}


.Update-contents{
    padding: 5%;
}

.Update-row{
    display :flex;
}

.image-up2{

    flex:1;
    margin-left: 25%;
    margin-top: 5%;
}

.image-update{
    height: 70vh;
    width:30vw
}


